<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
                <div class="footer__about__logo">
                    <a href="./index.html"><img th:src="@{/assert/img/logo.png}" alt=""></a>
                </div>
                <ul>
                    <li>Địa: 60-49 Road 11378 New York</li>
                    <li>Số điện thoại: +65 11.188.888</li>
                    <li>Email: hello@lanmarket.com</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            <div class="footer__widget">
                <h6>Useful Links</h6>
                <ul>
                    <li><a href="#">Thông tin về chúng tôi</a></li>
                    <li><a href="#">Thông tin về shop chúng tôi</a></li>
                    <li><a href="#">Bảo mật mua bán</a></li>
                    <li><a href="#">Thông tin giao hàng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Sơ đồ trang web của chúng tôi</a></li>
                </ul>
                <ul>
                    <li><a href="#">Chúng tôi là ai</a></li>
                    <li><a href="#">Dịch vụ của chúng tôi</a></li>
                    <li><a href="#">Dự án</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Sự đổi mới</a></li>
                    <li><a href="#">Lời chứng thực</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
                <h6>Tham gia bản tin của chúng tôi ngay bây giờ
                </h6>
                <p>Nhận thông tin cập nhật qua E-mail về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.
                </p>
                <form action="#">
                    <input type="text" placeholder="Enter your mail">
                    <button type="submit" class="site-btn">Theo dõi</button>
                </form>
                <div class="footer__widget__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="footer__copyright">
                
                <div class="footer__copyright__payment"><img th:src="@{/assert/img/payment-item.png}" alt=""></div>
            </div>
        </div>
    </div>
</div>