

<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LanMarket | Forgotpassword</title>
<script th:src="@{/assert/login/js/jquery.min.js}"></script>
<!-- Custom Theme files -->
<link th:href="@{/assert/login/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!--Google Fonts-->
<link th:href='@{https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700}' rel='stylesheet' type='text/css'>
</head>
<body style="background-image: url(/assert/login/images/banner3.jpg);">
<!--header start here-->
<div class="header">
		<div class="header-main">
		       <h1>LANMARKET</h1>
			<div class="header-bottom">
				<div class="header-right w3agile">
					
					<div class="header-left-bottom agileinfo">
						
					 <form action="#" method="post">
						<input type="text" id="email"  value="Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}"/>
						<div class="remember">
			            
						 <div class="forgot">
						 	<h6><a th:href="@{/lanmarket/security/login/form}">Đăng nhập?</a></h6>
						 </div>
						<div class="clear"> </div>
					  </div>
					   
						<input type="submit" value="Forgot Password">
					</form>	
					
						
				</div>
				</div>
			  
			</div>
		</div>
</div>
<!--header end here-->
<div class="copyright">
	
</div>
<!--footer end here-->
</body>
</html>